<div>
    <h1>test header11</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/app/about">About</a></li>
        <li><a href="/app/contact">Contact</a></li>
    </ul>

    <ul>
        <li><a asp-controller="App" asp-action="Index">Home</a></li>
        <li><a asp-controller="App" asp-action="About">About</a></li>
        <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
    </ul>

</div>
        
